*{
    font-style: none;
}
.card{
    border: none;
}
.card-footer{
    padding: none;
    background-color: white;
    border-top: none;
    font-size: 40px;
}
.footer-icon{
    padding-right: 10px;
    color: black;
}
.footer-icon:hover{
    color: rgb(53, 113, 202);
}
.font-style{
    text-decoration: none;
    color: black;
}
.font-style:hover{
    color: rgb(53, 113, 202);
}
.bottom-footer{
    background: rgb(194, 173, 173);
    text-align: center;
    margin: 0;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    margin-bottom: none;
}
