.App {
  text-align: center;
}

h1 {
  size: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin: 40px 60px;
  color: rgb(245, 245, 245);
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #ffffff;
  left: 0;
  right: 0;
  bottom: -10px;
}

h2 {
  size: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin: 0px 60px;
  marker-start: 0;
  padding: 10px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #070707;
  right: 0;
  bottom: 0px;
  
}


h4{
  color: #c59100;
  size: 40px;
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
